:root {
  --lato: "Lato";
  --section-color: #e8ebf0;
  --gallery-color: #82e4ed;
  --bottom-gallery-color: #42a3ce;
  --black: #000000;
  --white: #ffffff;
}

header {
  background-color: var(--section-color);
}

.navbar-collapse {
  flex-grow: 0;
}
.navbar {
  justify-content: space-between;
}

.navbar-brand {
  font-family: var(--lato);
  letter-spacing: 2px;
  font-size: 40px;
}

.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
}

a.nav-link {
  margin-top: 5px;
  display: inline;
  font-size: 15px;
  color: var(--black) !important;
}

.nav-item {
  font-family: var(--lato);
  font-weight: 600;
  letter-spacing: 2px;
  padding-left: 10px;
  border: 1px solid transparent;
}

.navbar-nav {
  min-height: 100%;
  text-align: center;
  z-index: 100;
}

.nav-item .dropdown {
  width: 50%;
  left: 25%;
}

.form.-inline {
  display: flex;
}

.dropdown-menu:hover {
  border-bottom: 2px solid var(--gallery-color);
}

.dropdown-menu {
  width: auto;
  border: 0;
  border-radius: 0;
  background-color: var(--white);
  text-overflow: hidden;
}

#navbarDropdownCategories:hover,
#navbarDropdownAlbums:hover {
  border-top: 2px solid var(--gallery-color);
  color: #58a1a8 !important;
}

#categories a:hover,
#albums a:hover {
  color: #58a1a8;
  background-color: transparent;
}

/*Carousel */

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  z-index: 1000;
  position: relative;
  top: 55px;
}

.carousel-item img {
  height: 100%;
}

.carousel-indicators .active {
  background-color: rgb(255, 255, 255);
}

/**/

.newest-post {
  background-color: #e8ebf0;
}

.newest-post .container {
  display: flex;
  flex-direction: row;
}

.some-img,
.some-text {
  width: 50%;
}

/**/
.post-categories {
  text-decoration: underline;
}
.card {
  border: none;
  border-radius: 0;
}

.img-wrapper {
  border-radius: 0;
}

.bottom-gallery-slider {
  padding: 50px 0;
  display: flex;
  flex-direction: row;
}

.card-img {
  border-radius: 0;
}

#bottom-gallery-slider {
  background-color: var(--bottom-gallery-color);
}

.card-img-top {
  border-radius: 0;
}

#gallery div.row {
  border: 2px solid white;
  --bs-gutter-x: 0;
}
.img-fluid {
  padding-left: 0;
}

/*all except first child*/
div.col:not(:first-child) {
  padding: 0;
  border-left: 2px solid white;
}

footer {
  background-color: var(--section-color);
}
